body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #100800, #040200);
    color: #ecf0f1;
}

.container {
    text-align: center;
    background: #221100;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 1200px;
}

h1 {
    font-size: 2rem;
    color: #e7BB22;
    margin-bottom: 20px;
}

.options {
    margin-bottom: 20px;
}

.options a.button {
    display: inline-block;
    text-decoration: none;
    color: #ecf0f1;
    background-color: #442200;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.options a.button:hover {
    background-color: #e7bb22;
    color: #221100;
}

#cocktailList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.cocktail {
    background: #331a00;
    padding: 20px;
    border-radius: 10px;
    width: calc(33% - 20px); /* Adjust for 3 columns with spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
    min-width: 250px; /* Ensure a minimum size for small screens */
}

.cocktail h2 {
    margin-bottom: 10px;
    color: #e7bb22;
}

.cocktail ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cocktail ul li {
    background: #442200;
    color: #ecf0f1;
    padding: 5px 10px;
    border-radius: 5px;
    flex: 0 0 auto; /* Prevent items from shrinking */
}

.ingredient-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.loading {
    color: #bdc3c7;
}

.error {
    color: #c0392b;
}
